/* Common xs1, xs2 */
@media all and (max-width: 767px) {
  .section-18 {
    background: #fff;
    padding-bottom: 120px; }
    .section-18 > .c-column-01 {
      display: flex;
      justify-content: space-between;
      height: 96px;
      align-items: center;
      padding: 0 24px 0 24px; }
      .section-18 > .c-column-01 > .c-item-01 {
        margin-right: 30px;
        width: 83px;
        height: 36px; }
      .section-18 > .c-column-01 > .c-item-02 {
        margin-bottom: 10px;
        width: 64px;
        height: 28px; }
    .section-18 > .c-column-02 {
      width: 100%;
      margin: 0 auto;
      padding: 48px 20px 62px 20px;
      background: #FFFFFF;
      border-radius: 40px; }
      .section-18 > .c-column-02 > .c-item-01 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; }
        .section-18 > .c-column-02 > .c-item-01 > .c-unit-01 {
          width: 152px;
          height: 152px;
          padding: 26px;
          background: #E9F3F5;
          border-radius: 24px; }
          .section-18 > .c-column-02 > .c-item-01 > .c-unit-01 img {
            width: 100%;
            object-fit: cover;
            object-position: center; }
        .section-18 > .c-column-02 > .c-item-01 > .c-unit-02 {
          text-align: center;
          width: 100%;
          margin-top: 48px; }
        .section-18 > .c-column-02 > .c-item-01 > .c-unit-03 {
          text-align: center;
          width: 300px;
          margin-top: 24px;
          margin-bottom: 8px; }
      .section-18 > .c-column-02 > .c-item-02 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 8px; }
        .section-18 > .c-column-02 > .c-item-02 > .c-unit-01 {
          width: 300px;
          text-align: center;
          margin-bottom: 20px; }
        .section-18 > .c-column-02 > .c-item-02 > .c-unit-02 {
          display: flex;
          align-items: center;
          justify-content: center;
          background: #268B9E;
          width: 100%;
          border-radius: 1100px;
          padding: 14px 0;
          margin-top: 8px;
          font-weight: bold;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: -0.02em;
          color: #FFFFFF; }
          .section-18 > .c-column-02 > .c-item-02 > .c-unit-02 > .c-unit-02-A {
            width: 20px;
            height: 20px;
            margin-right: 8px; }
        .section-18 > .c-column-02 > .c-item-02 > .c-unit-03 {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          background: #F5F5F5;
          border-radius: 1100px;
          padding: 16px 72px;
          font-weight: 600;
          font-size: 12px;
          line-height: 16px;
          text-align: center;
          letter-spacing: -0.02em;
          color: #0A242C;
          border-top: 1px solid #E7EAEB; }
      .section-18 > .c-column-02 .hr-A {
        display: none; }
    .section-18 > .c-column-03 {
      display: none; } }
/* Common sm, md, lg */
@media all and (min-width: 768px) {
  .section-18 {
    padding-bottom: 124px; }
    .section-18 > .c-column-01 {
      display: flex;
      height: 124px;
      align-items: center;
      padding: 0 60px 0 60px; }
      .section-18 > .c-column-01 > .c-item-01 {
        margin-right: 30px; }
      .section-18 > .c-column-01 > .c-item-02 {
        margin-bottom: 10px; }
    .section-18 > .c-column-02 {
      width: 708px;
      z-index: 777;
      margin: 0 auto;
      padding: 48px 0 64px 0;
      background: #FFFFFF;
      border: 1px solid #F3F3F3;
      box-sizing: border-box;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
      border-radius: 40px; }
      .section-18 > .c-column-02 > .c-item-01 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; }
        .section-18 > .c-column-02 > .c-item-01 > .c-unit-02 {
          text-align: center;
          width: 384px;
          margin-top: 48px; }
        .section-18 > .c-column-02 > .c-item-01 > .c-unit-03 {
          text-align: center;
          width: 384px;
          margin-top: 24px;
          margin-bottom: 29px; }
      .section-18 > .c-column-02 > .c-item-02 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 38px; }
        .section-18 > .c-column-02 > .c-item-02 > .c-unit-01 {
          width: 384px;
          text-align: center;
          margin-bottom: 32px; }
        .section-18 > .c-column-02 > .c-item-02 > .c-unit-02 {
          display: flex;
          align-items: center;
          justify-content: center;
          background: #268B9E;
          border-radius: 1100px;
          padding: 14px 0;
          margin-top: 8px;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: -0.02em;
          color: #FFFFFF;
          width: 464px;
          height: 60px; }
          .section-18 > .c-column-02 > .c-item-02 > .c-unit-02 > .c-unit-02-A {
            margin-right: 8px; }
        .section-18 > .c-column-02 > .c-item-02 > .c-unit-03 {
          display: flex;
          align-items: center;
          justify-content: center;
          background: #F5F5F5;
          border-radius: 1100px;
          padding: 21px 0 19px 0;
          width: 464px;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: -0.02em;
          color: #0A242C;
          width: 464px; }
      .section-18 > .c-column-02 .c-item-02 .hr-E {
        display: block; }
      .section-18 > .c-column-02 .hr-E {
        display: none; }
    .section-18 > .c-column-03 {
      transform: skewX(10deg);
      top: -16%;
      position: absolute; }
      .section-18 > .c-column-03 img {
        height: 100vh; } }

/*# sourceMappingURL=18.css.map */
