//Pacific
$pacific-050: #45A0B2;
$pacific-100: #C9E2E7;
$pasific-200: #A8D1D8;
$pacific-300: #67AEBB;
$pacific-400: #479CAD;
$pacific-500: #45A0B2;
$pacific-600: #38ACC4;
$pacific-700: #349EB4;
$pacific-800: #268B9E;
$pacific-900: #207686;

//Ocean
$ocean-050: #E8F0F3;
$ocean-100: #C5D9E2;
$ocean-200: #A2C2D0;
$ocean-300: #5FA1BD;
$ocean-400: #3D8DAF;
$ocean-500: #2F8EB3;
$ocean-600: #2C87B1;
$ocean-700: #2B82A3;
$ocean-800: #1B79A1;
$ocean-900: #176789;
$ocean-950: #104860;

//BW
$BW-white: #FFFFFF;
$BW-black: #000000;

//Neutral
$neutral-025: #F8F8F8;
$neutral-050: #E7EAEB;
$neutral-100: #C2CACC;
$neutral-200: #9EAAAE;
$neutral-300: #798A8F;
$neutral-400: #556A71;
$neutral-500: #304A52;
$neutral-600: #0C2A34;
$neutral-700: #0A242C;
$neutral-800: #081D24;
$neutral-900: #051115;
$neutral-950: #030B0D;

//Background
$BG-grey: #F8F8F8;
$BG-light-blue: #F2FDFF;
$BG-pacific: #87B9CE;
$BG-ocean: #5598B8;